.container {
  &#login-page {
    margin-top: 30%;
    width: 500px;
    button {
      width: 100%;
    }
  }
}

#folders-container, #files-container {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}